.bins-container {
  margin-top: 4rem;
  h2 {
    padding-top: 1rem;
    margin-left: 3rem;
  }
  ag-grid-angular {
    padding: 3rem;
  }
  .col-label {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    .shelf-bin-no-border {
      margin: 0rem 1rem;
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .shelf-row {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    .shelf-bin {
      margin: 1rem;
      border-radius: 0.25rem;
      width: 10rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .green-bin {
      background-color: rgba(0, 255, 0, 0.25);
      border: 1px solid rgb(0, 255, 0);
      color: black;
    }
    .red-bin {
      background-color: rgba(255, 0, 0, 0.25);
      border: 1px solid rgb(255, 0, 0);
      color: black;
    }
    .black-bin {
      background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid rgb(0, 0, 0);
      color: white;
    }
  }
}
