<div class="bins-container">
  <h2>Table</h2>
  <ag-grid-angular
    [rowData]="bins"
    [columnDefs]="colDefs"
    class="ag-theme-quartz"
    style="height: 800px"
  >
  </ag-grid-angular>
  <h2>Table Visualization</h2>
  <div class="shelf">
    <div class="col-label">
      <div
        *ngFor="let row of [].constructor(maxRack + 1); let j = index"
        class="shelf-bin-no-border"
      >
        {{ j }}
      </div>
    </div>
    <div *ngFor="let row of [].constructor(maxRow + 1); let i = index" class="shelf-row">
      {{ i }}

      <div
        *ngFor="let row of [].constructor(maxRack + 1); let j = index"
        class="shelf-bin"
        [ngClass]="{
          'green-bin': grid[i][j].color === 'green',
          'red-bin': grid[i][j].color === 'red',
          'black-bin': grid[i][j].color === 'black',
        }"
      >
        {{ grid[i][j].bin_id }}
      </div>
    </div>
  </div>
</div>
