<div class="login-container">
  <img src="assets/images/warehouse.jpg" alt="" class="background-image" />
  <div class="overlay">
    <div class="input-container fade-in-top">
      <mat-icon class="user">account_box</mat-icon>
      <input
        type="text"
        class="input-field"
        placeholder="Username"
        [(ngModel)]="username"
      />
      <input
        type="password"
        class="input-field"
        placeholder="Password"
        [(ngModel)]="password"
      />
      <input
        type="button"
        class="login-button"
        value="Login"
        (click)="login()"
      />
    </div>
  </div>
</div>
