/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  app-topbar {
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    overflow: hidden;
  }
}

.fade-in-left {
  animation: fade-in-left 1s ease-in;
}

.fade-in-right {
  animation: fade-in-right 1s ease-in;
}

.fade-in-top {
  animation: fade-in-top 1s ease-in;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
